body{
    margin: 0%;
}

/* Navigation Part */
.nav{
    background-color:;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    top: 0%;
    margin-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    font-weight: bolder;
    font-family: 'Alegreya Sans', sans-serif;
}
.active{
    background-color: #fff;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    top: 0%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #9CA3AF;
}
/* .activesecondary{
    background-color: white;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    top: 0%;
    margin-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-weight: bolder;
} */
#logo{
    
    padding: 2rem;

}
.nav-list{
    margin-top: -4rem;
    text-align: center;
}
li{
    display: inline;
}
.nav-link{
    padding: 1rem;
    text-decoration: none;
    color: black;
}
.logo-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: #7C3AED;
}

/* Footer */
footer{
    position: fixed;
    background-color:#7C3AED;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 1rem 0rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Alegreya Sans', sans-serif;
}
.foot-link{
    padding: 1rem;
    text-decoration: none;
    color: black;
}
.foot-link:hover{
    color: white;
}
/* About us */
.container-section{
    margin-top: 7rem;
}
h2 , label{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    display: inline;
    color: #7C3AED;
}
h3{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.para{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif; 
    line-height: 1.2rem;
    font-weight: bold;
    letter-spacing: rem;
}
.container{
    max-width: 500px;
    margin: auto;
    border-radius: 2rem;
    padding: 2rem;
    
}
.container-bottom{
    margin-bottom: 2rem;
    
    
}
.off-white{
    background-color: #F9FAFB;
    margin-top: 2rem;
    /* background-color: #F3F4F6; */
}
/* .horizontal
{
    max-width:1px;
    margin: auto;
    border-style: 1px solid;
    color: red;
} */
#btn-scrollup{
    right: 10px;
    bottom: 100px;
    position: fixed;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #7C3AED;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
##btn-scrollup:hover{
    color: #7C3AED;
    background-color: white;
}
.container-map{
    background-color: red;
    margin: auto;
    max-width: 500px;
}
.map{
    padding-top: 1rem;
    
    margin-bottom: 7rem;
    border-top: 0.1rem solid #7C3AED;
    
}
.header-map{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align: left; 
    font-weight: bolder;
    color: #7C3AED;       
    text-decoration:1px dotted underline #7C3AED;
    
    margin-bottom: 2rem;
    text-underline-offset: 4px;
    
}
iframe{
    border-radius: 2rem;
    
}

/* Contact US Page */

label{
    display: block;
    margin-bottom: 2rem;
    margin-left: 2vw;
    font-weight: bolder;
}
button.submit{
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #7C3AED;
    color: white;
    margin: 0;
    position: relative;
    left: 40%;

}
input{
    padding: 10px 34px;
    border-radius: 0.5rem;
    border : 0.5px solid black;
    float: right;
    margin-right: 7rem;
    
}
.input-field{
    padding: 12px 0px;
}

.dropdown{
    padding: 0.5rem 5rem;
    border-radius: 0.5rem;
    float: right;
    margin-right: 7rem;
    text-align: left;
    border : 0.5px solid black;
}